.isOpen {
  top: 100px;
}
.drawer {
  position: absolute;
  top: -100px;
  width: 100vw;
  height: 400px;
  background-color: rgb(35, 36, 36);
  transition-duration: 2s;
  transition-property: top;
}
